node_modules
.next
.next/
out
.vercel
coverage
*.log
pnpm-debug.log*
# Environment variables
.env
.env.*
!.env.example
!.env*.example
.env.local
.env.development
.env.production
.env.test
.envrc
.envrc.local
